[submodule "Libs/LibMan"]
	path = Libs/LibMan
	url = https://github.com/Jayrgo/LibMan.git
[submodule "Libs/LibMixin"]
	path = Libs/LibMixin
	url = https://github.com/Jayrgo/LibMixin.git
[submodule "Libs/LibCallback"]
	path = Libs/LibCallback
	url = https://github.com/Jayrgo/LibCallback.git
[submodule "Libs/LibEvent"]
	path = Libs/LibEvent
	url = https://github.com/Jayrgo/LibEvent.git
[submodule "Libs/LibDatabase"]
	path = Libs/LibDatabase
	url = https://github.com/Jayrgo/LibDatabase.git
