[submodule "Libs/LibMan"]
	path = Libs/LibMan
	url = https://github.com/Jayrgo/LibMan.git
[submodule "Libs/LibMixin"]
	path = Libs/LibMixin
	url = https://github.com/Jayrgo/LibMixin.git
[submodule "Libs/LibCallback"]
	path = Libs/LibCallback
	url = https://github.com/Jayrgo/LibCallback.git
[submodule "Libs/LibEvent"]
	path = Libs/LibEvent
	url = https://github.com/Jayrgo/LibEvent.git
[submodule "Libs/LibDatabase"]
	path = Libs/LibDatabase
	url = https://github.com/Jayrgo/LibDatabase.git
[submodule "Libs/LibProtectedCall"]
	path = Libs/LibProtectedCall
	url = https://github.com/Jayrgo/LibProtectedCall.git
[submodule "Libs/LibDropdown"]
	path = Libs/LibDropdown
	url = https://github.com/Jayrgo/LibDropdown.git
[submodule "Libs/LibOptions"]
	path = Libs/LibOptions
	url = https://github.com/Jayrgo/LibOptions.git
[submodule "Libs/LibDatabaseOptions"]
	path = Libs/LibDatabaseOptions
	url = https://github.com/Jayrgo/LibDatabaseOptions.git
